/* Fonts
font-family: 'Libre Baskerville', serif;
font-size: 400, 700
*/

body {
  font-family: 'Libre Baskerville', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-projects {
  margin-left: 100px;
}

.projects-title {
  width: 200px;
  margin-left: -20px;
}

.project {
  margin-top: 50px;
  margin-bottom: 50px;
}

.links {
  display: flex;
  gap: 10px;
}

ion-icon {
  font-size: 20px;
}

a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}
